body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto', 
  'Oxygen','Segoe UI', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New'
    monospace;
}
/* :root[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
}

:root[data-theme='dark'] {
  --background-color: #000000;
  --text-color: #ffffff;
} */